.contentPages {
  margin: 5rem 1rem;
}
.logo {
  text-align: center !important;
}
.barra {
  background-color: black;
}
/* btn colors */
.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f55e4d;
}
p {
  color: rgb(117, 117, 117);
}
.slogan {
  color: rgb(92, 92, 92);
}
.mp {
  font-weight: bold;
  color: rgb(117, 117, 117);
}
/* Aplicar gradientes de colores */
/* Nota: no se muestran aquí todos los gradientes que tendrás que
   definir para los diferentes navegadores. */
.btn-ttc {
  background-repeat: repeat-x;
  background-image: linear-gradient(top, #009ed2 0%, #007da7 100%);
}
.especial {
  color: #f55e4d;
  font-weight: 500;
}
.especial :hover {
  color: #f55e4d;
  font-weight: 700;
}
.btn-login:hover {
  background-color: #db5647;
}

.soyrappi {
  text-align: center;
}
.profile {
  color: white !important;
  font-size: 1.5rem !important;
}
/*CSS para scroll*/
.box-scroll {
  width: 100%;
  height: 100%;
}

.box {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px !important;
  -webkit-box-shadow: 0px 3px 21px -10px rgba (0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 21px -10px rgba (0, 0, 0, 0.75);
  box-shadow: 0px 3px 21px -10px rgba (0, 0, 0, 0.75) !important;
}
.card2 {
  background-color: #fff;
  min-width: 100%;
  min-height: 200px;
  border-radius: 20px !important;
  -webkit-box-shadow: 0px 3px 21px -10px rgba (0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 21px -10px rgba (0, 0, 0, 0.75);
  box-shadow: 0px 3px 21px -10px rgba (0, 0, 0, 0.75);
}

.card--content {
  min-width: 14rem;
  margin: 5px;
  border-radius: 20px !important;
  -webkit-box-shadow: 0px 3px 21px -10px rgba (0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 21px -10px rgba (0, 0, 0, 0.75);
  box-shadow: 0px 3px 21px -10px rgba (0, 0, 0, 0.75);
}

.card2 {
  overflow-x: auto;
}
.card2::-webkit-scrollbar {
  display: none;
}
.price {
  color: #db5647;
}
.pbg {
  background: #f55e4d;
}
/* estilso para pc */
@media only screen and (min-width: 768px) {
  .contenedorHome {
    display: flex;
  }
  .contenedorHome {
    flex: 2;
    margin: 0rem 1rem;
  }
  .cont-form {
    flex: 1;
    margin: 0rem 3rem;
  }
  .rg {
    display: flex;
  }
  .rg1 {
    flex: 2;
    margin: 0rem 1rem;
  }
  .rg2 {
    flex: 1;
  }

  .card2 {
    overflow-x: visible;
  }
}
